
body {
    font: 10px sans-serif;
    background: #FFF;
}

/*.arc path {*/
    /*stroke: #FFF;*/
    /*stroke-width: .5px;*/
/*}*/

.arc text {
    fill:#333;
    font-size:12px;
    font-weight:bold;
}

.arc line {
    stroke: #333;
}

.legend-box {
    fill: #FFF;
}

#legend {
    background-color: #CCC;
}