
body {
    font: 10px sans-serif;
    background: #EFEFEF;
}

.arc path {
    stroke: #FFF;
    stroke-width: .5px;
}

.arc grid {
    stroke: #333;
    stroke-width: 1;
    stroke-dasharray: 5,5;
}

.arc text {
    fill:#333;
    font-size:12px;
    font-weight:bold;
}

.arc line {
    stroke: #333;
}
